:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --veryDarkBlue: #005f81;
  --grayishBlue: hsl(234, 12%, 34%);
  --veryLightGray: hsl(0, 0%, 98%);
  --weight1: 200;
  --weight2: 400;
  --weight3: 600;
}

body {
  margin: 0px !important;
  padding: 0px !important;
  background: #00224d;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

#wheelOfFortune {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

#wheel {
  display: block;
  position: relative;
}

#spin {
  font: 1em / 0 sans-serif;
  user-select: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  background: #fff;
  color: #fff;
  box-shadow: 0 0 0 8px currentColor, 0 0px 15px 5px rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}

#spin h1 {
  filter: invert(1);
}

#spin::after {
  content: '';
  position: absolute;
  top: -17px;
  border-top: 1px solid rgb(121, 121, 121);
  border-left: 1px solid rgb(121, 121, 121);
  width: 20px;
  height: 20px;
  background: inherit;
  rotate: 45deg;
}
